html, body {
  height: 100%;
}

img {
  height: 90%;
  box-shadow: 0px 0px 10px 3px #000000;
}

.row {
  display: flex;
  justify-content: center;
  // align-items: center;
  background-color: rgba(50, 50, 50, 1);
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.container-fluid {
  text-align: center;
}

#left-panel > * {
  border: 1px solid #000000;
  color: #ffffff;
}

#center-panel > * {
  border: 1px solid #000000;
  color: #ffffff;
}

#right-panel > * {
  border: 1px solid #000000;
  color: #ffffff;
}

#filters-tab {
  height: 50%;
}

#filter-edit {
  height: 30%;
}

#server-tab {
  height: 20%;
}

#top-picture, #bottom-picture {
  height: 50%;
}

#top-image, #bottom-image  {
  height: 100%;
  width: 100%;
  text-align: center;
}

#GPS-tab {
  height: 25%;
}

#file-list {
  height: 35%;
}

#histogram {
  height: 25%;
}

#actions-tab {
  height: 15%;
}
